@model IEnumerable<CrudApp.ReservationForTable>
@{
    ViewBag.Title = "Index";
}
<script src="~/ReservationsScript/Reservation.js"></script>
<script src="~/ReservationsScript/BootBox.min.js"></script>
<script>
    $(function () {
        Reservations.GetReservationData();
    });
</script>
<div id="courseDiv">
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create</h4>
                @*<h4 class="modal-title" id="myModalLabel">Create</h4>*@
            </div>
            <div class="modal-body">
                <form id="cities-form" action="#" method="post">
                    <label class="control-label col-md-2">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtName" />
                        <span id="spnName" class="text-danger"></span>
                        <input type="hidden" class="form-control" id="hdId" />
                        <span class="text-danger" id="spnTeamName"></span>
                    </div>
                    <br>
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtDescription" />
                        <span id="spnDescription" class="text-danger"></span>
                        <span class="text-danger" id="spnCity"></span>
                    </div>
                    <br>

                    <label class="control-label col-md-2">FullPrice</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtFullPrice" />
                        <span id="spnFullPrice" class="text-danger"></span>
                        <span class="text-danger" id="spnCity"></span>
                    </div>
                    <br>

                    <label class="control-label col-md-2">Level</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtLevel" />
                        <span id="spnLevel" class="text-danger"></span>
                        <span class="text-danger" id="spnCity"></span>
                    </div>
                    <br>
                    <label class="control-label col-md-2">AuthorId</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtAuthorId" />
                        <span class="text-danger" id="spnCity"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="error"></span>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="sub" type="button" class="btn btn-info" onclick="Reservations.Save()">Reserve Table</button>
            </div>
        </div>
    </div>
</div>